                <h1 data-ng-hide="board && setup" >Loading</h1>
    
                <div data-ng-show="board && setup" >
                    <h3> Hi {{ user.displayName }} </h3>
                    Add <input type="checkbox" data-ng-model="adding"/>
                    <select data-ng-show="adding" data-ng-model='ships' ng-options='s.name for s in shipsOpts'></select>
                    <span data-ng-show="adding" data-ng-model="orientation" data-ng-click=" orientation = !orientation "> {{ orientation ? 'Horizontal' : 'Vertical' }} </span>
                    
                    <table>
                        <tr data-ng-repeat="row in board">
                            <td data-ng-repeat="col in row" class="{{ getClasses( col ) }}" data-ng-click="updateCell( {{ $parent.$index }}, {{ $index }}, col )"></td>
                        </tr>
                    </table>
                    
                    <label>{{ result }}</label>
                    <small><span href="" data-ng-click="logout()">Logout</span></small><br>
                    {{ setup.width }} x {{ setup.height }}<br/>
                </div>
