<h3>Setup</h3>
<label for="inpWid">Width </label><input id="inpWid" type="range" min="10" max="1000" step="1" data-ng-model='currWid'/><label for="inpSize">{{ currWidth }}</label><br/>
<label for="inpHei">Height</label><input id="inpHei" type="range" min="10" max="1000" step="1" data-ng-model='currHei'/><label for="inpSize">{{ currWidth }}</label><br/>
<button data-ng-click="newShip()">New Ship</button><button data-ng-click="resetShips()">Reset Ships</button>
<ul>
    <li data-ng-repeat="ship in game.setup.shipsOpts">
        <input type="text" data-ng-model='ship.name'/>
        <label for="inpSiz">Size     </label><input id="inpSiz" type="range" min="1" max="20"  step="1" data-ng-model='ship.size'    /><label for="inpSiz">{{ ship.size     }}</label>
        <label for="inpImg">imgStart </label><input id="inpImg" type="range" min="1" max="100" step="1" data-ng-model='ship.imgStart'/><label for="inpImg">{{ ship.imgStart }}</label> - <span data-ng-click='deleteShip($index)'>delete</span>
        <table><tr><td data-ng-repeat="n in [] | range:ship.size" class="ship-{{ ship.imgStart + $index }} ori-true"></td></tr></table>
    </li>
</ul>
<button data-ng-click="apply()">Apply</button>
<button data-ng-click="cleanBoard()">clean board</button>
<button data-ng-click="reset()">Reset</button><br/>
<span href="" data-ng-click="gotoPage('game')">Return to game</span><br>